@import "reset.css";
@font-face {
  font-family: ProximaNova-Regular;
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}

$main-txt-color: black;
$border-color: 	#c0c0c0;
$hover-link-color:#0000FF;
$visited-link-color: #800080;
$footer-color: 	#c0c0c0;
$photo: url("../static/img/14.jpg");
$vk: url("../static/img/vk.png");
$inst: url("../static/img/inst.png");
$viber: url("../static/img/vb.png");
$whatsapp: url("../static/img/wapp.png");
$skype: url("../static/img/sk.png");
$tg: url("../static/img/tel.png");
$first: url("../static/img/site1.JPG");
$second: url("../static/img/site2.JPG");

body{
 font-family: ProximaNova-Regular, sans-serif;
  position: relative;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: $main-txt-color;
  &:visited{
    color: $visited-link-color;
  }
}
.menu-btn {
  width: 50px;
  height: 30px;
  border: 2px solid $border-color;
  border-radius: 20%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10%;
  cursor: pointer;
  span {
    display: flex;
    width: 30px;
    height: 2px;
    background-color: $border-color;
    margin: 2px;
  }
}
.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #00AFF0;
  transition: .5s;
  transform: translateX(100%);
  .menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    flex-direction: column;
    margin-top: 20%;
    a{
      text-transform: uppercase;
      font-family: ProximaNova-Bold, sans-serif;
      font-size: 24px;
      color: white;
      text-align: center;
    }
  }
}
#main-header{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $border-color;
  position: relative;
    .container{
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: space-between;
      .fio {
        font-family: ProximaNova-Bold, sans-serif;
        font-size: 28px;
        display: flex;
        margin-left: 1%;
      }
        nav{
        width: 80vw;
        margin-left: 5%;
        flex-wrap: wrap;
          #nav{
          display: flex;
          justify-content: space-around;
          text-align: center;
            a{
            text-transform: uppercase;
            font-size: 14px;
            font-family: ProximaNova-Bold, sans-serif;
            &:hover{
              color: $hover-link-color;
              transition-duration: .5s;
            }
          }
            .lang{
              position: absolute;
              right: 10px;
              top: 10px;
              background-color: #00AFF0;
              color: #fff;
              width: 50px;
              height: 30px;
              align-items: center;
              display: flex;
              justify-content: center;
              border-radius: 10%;
            }
        }
      }
    }
}
#hello {
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid $border-color;
  .container {
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    .left-hello {
      width: 48%;
      height: 350px;
      margin-right: 4%;
      margin-left: 1%;
      h1 {
        font-size: 20px;
        font-family: ProximaNova-Bold, sans-serif;
      }
      p {
        margin-top: 10px;
        text-align: justify;
        line-height: 1.2;
      }
      .phone, .email, .socials {
        margin-top: 20px;
        text-transform: uppercase;
        font-family: ProximaNova-Bold, sans-serif;
        a {
          font-family: ProximaNova-Regular, sans-serif;
          margin-left: 30px;
          text-transform: none;

          &:hover {
            color: $hover-link-color;
            transition-duration: .5s;
          }
        }
        .social_vk {
          background: $vk center no-repeat / cover;
          width: 20px;
          height: 20px;
          display: inline-flex;
          &:hover{
            transform: scale(1.1);
          }
        }
        .social_viber {
          background: $viber center no-repeat / cover;
          width: 20px;
          height: 20px;
          display: inline-flex;
          &:hover{
            transform: scale(1.1);
          }
        }
        .social_whatsapp {
          background: $whatsapp center no-repeat / cover;
          width: 20px;
          height: 20px;
          display: inline-flex;
          &:hover{
            transform: scale(1.1);
          }
        }
        .social_skype {
          background: $skype center no-repeat / cover;
          width: 20px;
          height: 20px;
          display: inline-flex;
          &:hover{
            transform: scale(1.1);
          }
        }
        .social_tg {
          background: $tg center no-repeat / cover;
          width: 20px;
          height: 20px;
          display: inline-flex;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
      .cv{
        margin-top: 40px;
        background: #00AFF0;
        height: 40px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        a{
          display: flex;
          width: 200px;
          height: 40px;
          color: #fff;
          justify-content: center;
          align-items: center;
        }
        &:hover{
          transform: scale(1.1);
          box-shadow: 5px 5px 10px rgb(0,175,240,.4);
        }
      }
    }
      .right-hello {
        width: 48%;
        .photo {
          background: $photo center no-repeat / contain;
          display: flex;
          height: 350px;
         }
      }
  }
}
#skills{
  display: flex;
  height: 300px;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid $border-color;
  .container {
    display: flex;
    max-width: 80%;
    align-items: center;
    flex-wrap: wrap;
    .left-skills{
      width: 27%;
      margin-right: 5%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1%;

      h2{
        font-family: ProximaNova-Bold,sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
       }
      p{
        text-align: justify;
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }
    .center-skills{
      width: 27%;
      margin-right: 5%;
      height: 250px;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        font-family: ProximaNova-Bold, sans-serif;
        margin-bottom: 10px;
        font-size: 20px;
      }
      p{
        text-align: justify;
        line-height: 1.2;
      }
    }
    .right-skills{
      width: 27%;
      margin-right: 5%;
      height: 250px;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        font-family: ProximaNova-Bold, sans-serif;
        margin-bottom: 10px;
        font-size: 20px;
      }
      p{
        text-align: justify;
        line-height: 1.2;
      }
      a{
        color: black;
      }
    }
  }
}
#education{
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid $border-color;
  .container {
    display: flex;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    .edu{
      width: 25%;
      display: flex;
      flex-direction: column;
      margin-right: 2%;
      margin-left: 1%;

      h2{
        font-family: ProximaNova-Bold,sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
      }
      p{
        margin-bottom: 10px;
        text-align: justify;
      }
    }
    .work{
      width: 45%;
      display: flex;
      flex-direction: column;
      margin-right: 2%;
      h2{
        font-family: ProximaNova-Bold,sans-serif;
        margin-bottom: 10px;
        font-size: 20px;
      }
      p{
        line-height: 1.2;
        margin-bottom: 5px;
        text-align: justify;
      }
      .work-name{
        font-family: ProximaNova-Bold, sans-serif;
      }
    }
    .courses{
      width: 25%;
      display: flex;
      flex-direction: column;

      h2{
        font-family: ProximaNova-Bold, sans-serif;
        margin-bottom: 10px;
        font-size: 20px;
      }
      p{
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }
  }
}
#portfolio{
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid $border-color;
  .container {
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    .first{
      width: 50%;
      .first-pict{
        background: $first center no-repeat / contain;
        height: 300px;
        display: flex;
        width: 300px;
        transition: all 1s ease-out;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
      }
       p{
         margin-top: -35px;
         font-family: ProximaNova-Bold, sans-serif;
         width: 30vw;
         text-align: center;
         margin-left: -120px;
       }
    }
    .second{
      width: 50%;
      .second-pict{
        background: $second center no-repeat / contain;
        height: 300px;
        display: flex;
        width: 300px;
        transition: all 1s ease-out;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
      }
      p{
        margin-top: -35px;
        font-family: ProximaNova-Bold, sans-serif;
        width: 30vw;
        text-align: center;
        margin-left: -120px;
      }
    }
  }
}
#copyright{
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
  background-color: $footer-color;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  #main-header{
    .container{
      .menu-btn{
        display: flex;
      }
      nav{
        #nav{
          a{
            display: none;
          }
          .lang{
            left: 50%;
            top: 35%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1210px) {
  body{
    font-size: 14px;
    #hello{
      height: 500px;
      .container{
        .left-hello{
          .socials{
            a{
              margin-left: 10px;
            }
          }
          .cv{
            margin-top: 20px;
            width: 180px;
            height: 30px;
          }
        }
      }
    }
    #portfolio{
      height: 700px;
      .container{
        width: 100%;
        flex-wrap: wrap;
        .first{
          width: 100%;
        }
        .second{
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  body{
    font-size: 14px;
    #hello{
      height: 800px;
      .container{
        flex-wrap: wrap-reverse;
        .left-hello{
          width: 100%;
          .socials{
            a{
              margin-left: 10px;
            }
          }
          .cv{
            margin-top: 20px;
            width: 180px;
            height: 30px;
          }
        }
        .right-hello{
          width: 100%;
        }
      }
    }
    #skills{
      height: 600px;
      .container{
        flex-wrap: wrap;
        .left-skills{
          width: 100%;
          height: 100px;
          margin-right: 2%;
        }
        .center-skills{
          width: 100%;
          height: 100px;
          margin-right: 2%;
        }
        .right-skills{
          width: 100%;
          height: 100px;
          margin-right: 2%;
        }
      }
    }
    #education{
      height: 600px;
      .container{
        flex-wrap: wrap;
        .edu{
          width: 100%;
          margin-left: 0;
          margin-bottom: 3%;
        }
        .work{
          width: 100%;
          margin-bottom: 3%;
        }
        .courses{
          width: 100%;
        }
      }
    }
    #portfolio{
      .container{
        .first{
          .first-info{
            margin-left: 0;
          }
        }
        .second{
          .second-info {
            margin-left: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  body{
    font-size: 12px;
    #main-header{
      height: 60px;
      .container{
        .fio{
          font-size: 16px;
        }
        nav{
          #nav{
            .lang{
              left: 45%;
              top: 30%;
            }
          }
        }
      }
    }
    #hello{
      height: 900px;
      .container{
        flex-wrap: wrap-reverse;
        .left-hello{
          width: 100%;
          height: 400px;
          .socials{
            flex-direction: column;
            a{
              margin-left: 5px;
            }
          }
          .cv{
            margin-top: 20px;
            width: 180px;
            height: 30px;
          }
        }
        .right-hello{
          width: 100%;
          height: 300px;
        }
      }
    }
    #skills{
      height: 650px;
      .container{
        flex-wrap: wrap;
        .left-skills{
          width: 100%;
          height: 100px;
          margin-right: 2%;
        }
        .center-skills{
          width: 100%;
          height: 100px;
          margin-right: 2%;
        }
        .right-skills{
          width: 100%;
          height: 100px;
          margin-right: 2%;
        }
      }
    }
    #education{
      height: 750px;
      .container{
        flex-wrap: wrap;
        .edu{
          width: 100%;
          margin-left: 0;
          margin-bottom: 3%;
        }
        .work{
          width: 100%;
          margin-bottom: 3%;
        }
        .courses{
          width: 100%;
        }
      }
    }
    #portfolio{
      .container{
        .first{
          width: 250px;
          .first-pict{
            width: 250px;
          }
          .first-info{
            margin-left: 0;
          }
        }
        .second{
          width: 250px;
          .second-pict{
            width: 250px;
          }
          .second-info {
            margin-left: 0;
          }
        }
      }
    }

  }
}
